body {
  font-family: $font1;
  padding-top: 54px;
  color: $color1;

  @media (min-width: 992px) {
    padding-top: 0;
    padding-left: 17rem;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font1;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
  font-weight: normal;
}

h2 {
  font-size: 3.5rem;
  font-weight: normal;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
  font-family: $font2;
}

p, li {
  font-size: 1.2rem;
}

p {
  margin: 20px 0px;
}

.bg-primary {
  background-color: $color2 !important;
}

.text-primary {
  color: $color2 !important;
}

a {
  color: $color2;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: darken($color2, 10%)
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: $font1;
  font-size: 1.5rem;
}


.dev-icons {
  font-size: 3rem;

  .list-inline-item i:hover {
    color: #BD5D38;
  }
}


section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
  @media (min-width: 768px) {
    min-height: 100vh;

  }
  @media (min-width: 992px) {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  .resume-item .resume-date {
    min-width: initial;
    @media (min-width: 768px) {
      min-width: 18rem;

    }
  }
}

#skills, #education {
  .resume-content {
    margin-top: 0px;
  }
}

.skills {
  margin-top: 50px
}


.company {
  margin-left:20px;
  a {
    font-size:20px;
  }
}
