@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed:400,500,600,700|Saira+Extra+Condensed&display=swap');


$color1: #868e96;
$color2: #BD5D38;
$font1: 'Saira Extra Condensed', sans-serif;
$font2: 'Cabin Condensed', sans-serif;

$screen-xs: 320px;
$screen-sm: 768px;
$screen-md: 1024px;
